# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
env/
.venv/
.ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# If you have local settings or env
.env
.env.local
.env.*.local

# IDEs / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# MySQL Workbench (if exported)
*.sql

# VSCode settings
.history/
