<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    {% comment %} <a class="navbar-brand" href="{% url 'dashboard' %}">SnackHub</a> {% endcomment %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="{% url 'brands:list' %}">Brands</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'products:list' %}">Products</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'customers:list' %}">Customers</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'orders:list' %}">Orders</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'inventory:inventory_list' %}">Inventory</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'billing:list' %}">Billing</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'reports:sales_report' %}">Reports</a></li>
      </ul>
    </div>
  </div>
</nav>
